*.tex
*.pyc
*.svg
CONTEXT.md
animations/w01_setup_eda/media/
animations/w02_time_series_arima/media/
animations/w03_regression_classification/media/
animations/w04_svm_tuning/media/
animations/w05_trees_ensembles/media/
animations/w06_boosting_shap/media/
animations/w07_clustering_pca/media/
animations/w08_neural_networks_intro/media/
animations/w09_training_cnns/media/
animations/w10_sequences_transformers/media
animations/w11_midterm_project/media/
animations/w12_case_studies/media/