*.tex
*.pyc
*.svg
CONTEXT.md
weeks/w01_setup_eda/media/
weeks/w02_time_series_arima/media/
weeks/w03_regression_classification/media/
weeks/w04_svm_tuning/media/
weeks/w05_trees_ensembles/media/
weeks/w06_boosting_shap/media/
weeks/w07_clustering_pca/media/
weeks/w08_neural_networks_intro/media/
weeks/w09_training_cnn/media/
weeks/w10_sequences_transformers/media
weeks/w11_midterm_project/media/
weeks/w12_case_studies/media/